header {
    background-color: RGB(0,181,242);
    width: 100%;
    height: 80px;
    background-image: url(../img/pattern.png);
    padding:20px;
}


figure {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    width: 200px;
    height: 80px;
    margin-left: 20%;
}


main h1 {
    font-size: 38px;
    margin-bottom: 0;
}


#article p {
    margin-top: 0;
}


.description-azure {
    color: RGB(0,187,229); 
}


article p {
    font-size: 12px;
}


.p-description-photo {
  margin-top: 0px;
  font-size: 12px;
}



p > .yellow {
    background: yellow;
}



ul {
    padding: 0;
    list-style-position: inside;
}


table {
    width: 95%; 
    border-collapse: collapse; 
}


thead{
    background: RGB(0,187,229); 
    padding: 0px;
    color: white;
  } 


tr {
    text-align: left;
  } 
  

 tr td {
    background: RGB(174,213,226);
    width: 35px;
  }


  .white-cell{
    background-color: white;;
  }


 footer > h3 {
    color: grey;
 }


  .image-text{
    position: relative;
  }


  .image-text img {
    width: 250px;
    height: 180px;
 }
  
 
  .top-left {
    position: absolute;
    top: 0px;
    left: 10px;
    color: white;
  }


.container {
    max-width: 1100px;
    margin: 30px auto;
}

